<a href="https://colab.research.google.com/github/sewaponle/HAMOYE-PROJECT-1/blob/main/Tag_along_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving FoodBalanceSheets_E_Africa_NOFLAG.csv to FoodBalanceSheets_E_Africa_NOFLAG.csv
User uploaded file "FoodBalanceSheets_E_Africa_NOFLAG.csv" with length 8603007 bytes

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import io

In [21]:
import chardet
with open('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(8603007))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [28]:
FoodBalanceSheets = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding ='ISO-8859-1')
FoodBalanceSheets.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [30]:
display(pd.DataFrame(FoodBalanceSheets))

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [31]:
FoodBalanceSheets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [32]:
FoodBalanceSheets.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

#The mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [42]:
FoodBalanceSheets['Y2017'].mean().round(2)

140.92

In [43]:
FoodBalanceSheets['Y2017'].std().round(2)

1671.86

#Dataframe methods that can be used to access elements across rows and columns?

In [47]:
FoodBalanceSheets.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [53]:
FoodBalanceSheets.loc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

#How to check number of rows and columns in a pandas DataFrame named df

In [55]:
FoodBalanceSheets.shape

(60943, 12)

#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’ to determine which of these Areas had the 7th lowest sum in 2017

In [94]:
FoodBalanceSheets.groupby('Y2017')['Area'].sum()
##FoodBalanceSheets.groupby('Area', descending = False)

Y2017
-1582.0                       EgyptEgypt
-1200.0                       Mozambique
-1159.0                       Mozambique
-865.0       United Republic of Tanzania
-860.0       United Republic of Tanzania
                        ...
 96443.0                           Egypt
 106400.0                       Ethiopia
 112625.0                        Nigeria
 117702.0                        Nigeria
 190873.0                        Nigeria
Name: Area, Length: 4537, dtype: object

#Performing a groupby operation on ‘Element’ to determine the total number of the sum of Processing in 2017.

In [110]:
FoodBalanceSheets.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

#The total number of unique countries in the dataset

In [151]:
FoodBalanceSheets.groupby( 'Area' )[ 'Area' ].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Côte d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

# performing aggregate sum on wine sold in year 2015 and 2018

In [133]:
FoodBalanceSheets.groupby('Item')['Y2015', 'Y2018'].agg('sum')

<ipython-input-133-7b58d3666adc>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  FoodBalanceSheets.groupby('Item')['Y2015', 'Y2018'].agg('sum')

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

What is the total Protein supply quantity in Madagascar in 2015?

In [172]:
FoodBalanceSheets.groupby( ['Element', 'Area'])[ 'Y2015'].agg('sum')

Element                   Area
Domestic supply quantity  Algeria                  85972.86
                          Angola                   55482.91
                          Benin                    27661.67
                          Botswana                  2916.14
                          Burkina Faso             23658.17
                                                     ...
Tourist consumption       Cabo Verde                   5.00
                          Egypt                      286.00
                          Kenya                       17.00
                          Mauritius                   29.00
                          Sao Tome and Principe       12.00
Name: Y2015, Length: 803, dtype: float64